* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

ul,
li {
  list-style-type: none;
}

body {
  font-family: "Raleway", sans-serif;
  padding: 0px 10%;
  background: linear-gradient(to right, #dfeaf8, white, #dfeaf8);
  transition: 0.5s ease-in-out;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

nav ul {
  display: flex;
}

nav ul li {
  margin: 10px;
}

header {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .sign-up {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
}

header div {
  text-align: center;
}

header p {
  margin: 30px 0px;
}

header ul {
  display: flex;
  justify-content: center;
}

header ul li {
  margin: 5px;
}

header ul a {
  padding: 8px;
  transition: 0.5s ease-in-out;
  border-radius: 20px;
  color: blue;
}

header ul a:hover {
  background-color: blue;
  color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.jobs-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.featured-jobs h2 {
  margin-bottom: 10px;
}

.jobs-grid .box {
  padding: 20px;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
}

.jobs-grid .box:hover {
  background-color: blue;
  color: white;
}

.jobs-grid .box .top {
  display: flex;
  align-items: center;
}

.jobs-grid .box .top span {
  margin-left: 10px;
}

.jobs-grid .box p {
  margin: 20px 0px;
}

.jobs-grid .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.jobs-grid .bottom small:first-child {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 20px;
}

@media screen and (max-width: 960px) {
  body {
    padding: 0px 2%;
  }
}

@media screen and (max-width: 500px) {
  nav {
    position: relative;
    height: 70px;
  }

  nav ul {
    position: absolute;
    top: 70px;
    left: 0px;
    width: 100%;
    display: block;
  }

  nav ul li:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
  }

  nav ul li {
    margin: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }

  nav ul li a {
    display: flex;
    justify-content: center;
    padding: 10px;
    transition: 0.5s ease-in-out;
  }

  nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  header {
    margin-top: 170px;
  }

  header h1 {
    font-size: 20px;
  }
  .jobs-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }
}
